.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-dark-color);
}

.text-404 {
  font-size: 10rem;
  font-weight: 600;
}

.page-404 a {
  color: var(--font-dark-color);
  text-decoration: underline;
}

.page-404 a:hover {
  color: var(--font-dark-color);
}
