.banner {
    background-image: url("../images/banner1.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    display: flex;
    margin-top: -4.65rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.banner .bg-overlay {
    position: absolute;
    background-color: var(--primary-dark-color);
    opacity: 0.65;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.banner .bg-content {
    z-index: 3;
}

.banner h3 {
    font-weight: 400;
    color: var(--font-normal-color);
}

.banner span {
    color: var(--secondary-color);
}

.banner .hidden {
    display: none;
}

/* For mobo screens */
@media screen and (max-width: 600px) {
    .banner p,
    .banner span {
        font-size: 1.5rem;
    }
}
