:root {
  --base-size: calc(15px + 0.25vh);
  --type-scale: 1.25;

  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));

  --small: calc(var(--base-size) / var(--type-scale));
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #eeeeee;
  background-color: #222831;
}

h1,
h2,
h3,
h4,
h5 {
  color: #5f6769;
}

p,
strong {
  font-size: var(--h5);
}

li,
span {
  font-size: var(--base-size);
}

small {
  font-size: var(--small);
}

h5 {
  font-size: var(--h5);
}
h4 {
  font-size: var(--h4);
}
h3 {
  font-size: var(--h3);
}
h2 {
  font-size: var(--h2);
}
h1 {
  font-size: var(--h1);
}

a,
a:hover {
  color: #eeeeee;
  text-decoration: none;
}

section:nth-child(even) {
  background-color: #2b313a;
}

section {
  padding: 70px 30px 70px 30px;
}

.card {
  box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
  transition: ease 0.25s;
}

.zoom:hover {
  transform: scale(1.12);
}

*::selection {
  color: #eeeeee;
  background-color: #00adb5;
}

/* For tablet screens */
@media screen and (max-width: 992px) {
  :root {
    --base-size: 0.95em;
  }

  .left-title {
    margin-bottom: 20px;
    text-align: center;
  }
  .profile {
    margin-bottom: 35px;
  }
}

/* For mobo screens */
@media screen and (max-width: 600px) {
  :root {
    --base-size: 0.75em;
  }

  section,
  ul,
  ol {
    padding-left: 15px;
    padding-right: 15px;
  }
}
