.experience .card {
    margin-bottom: 1.25rem;
    background-color: var(--primary-dark-color);
}

.experience a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.dot-devider {
    margin: 0 7px;
}

.dot-devider::after {
    content: "\00B7";
}

/* For mobo screens */
@media screen and (max-width: 600px) {
    .experience .card {
        padding: 5px;
    }

    .experience .card-body {
        padding: 10px;
    }
}