.navbar {
    background-color: transparent;
    z-index: 3;
}

.navbar .navbar-toggler {
    outline: none;
}

.navbar-brand h4 {
    color: var(--font-normal-color);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav li {
    margin-right: 1.75rem;
}

.navbar-nav a {
    color: var(--font-normal-color);
    font-size: 1.25rem;
}

.navbar-nav a:hover {
    color: var(--secondary-color);
}
