.intro-section {
  color: #eeeeee;
  font-size: 1.3rem;
  background-color: #222831;
}

.ed-meta {
	font-size: 0.9em;
	color: #5f6769;
}

.profile-img {
	width: 200px;
	height: 200px;

}

.profile-title {
	margin-top: 10px;
	justify-content: center;
}

.profile-title h2  {
	color: #eeeeee;
}


.social-links {
	padding-top: 10px;
}

.social-links > a {
	padding: 0 7px 0 7px;
	color: #00918e;
}

.social-links > a :hover {
	text-decoration: none;
	color: #eeeeee;
}


.eductaion-list > li > i {
	padding: 5px;
}

