.intro-section {
  color: #eeeeee;
  background-color: #222831;
  margin-top: 2.5rem;
}

.ed-meta {
  color: #5f6769;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.profile-title {
  margin-top: 10px;
  justify-content: center;
}

.profile-designation {
  text-align: center;
}

.profile-title h3 {
  color: #eeeeee;
}

.social-links > a {
  font-size: var(--h3);
  padding: 0 7px 0 7px;
  color: #00918e;
}

.social-links > a :hover {
  text-decoration: none;
  color: #eeeeee;
}

.eductaion-list > li > i {
  padding: 5px;
}
