#intro {
}

.ed-meta {
  color: var(--font-dark-color);
}

.profile-img  {
  width: 200px;
  height: 200px;
}

.profile-title {
  margin-top: 10px;
  justify-content: center;
}

.profile-designation {
  text-align: center;
}

.profile-title h3 {
  color: var(--font-normal-color);
}

.social-links > a {
  font-size: var(--h3);
  padding: 0 7px 0 7px;
  color: var(--secondary-color);
}

.social-links > a :hover {
  text-decoration: none;
  color: var(--font-normal-color);
}

.eductaion-list > li > i {
  padding: 5px;
}
