.projects-set {
    margin-top: 2rem;
}

.projects-set > div {
    margin-bottom: 2.25rem;
}

.projects .card {
    background-color: #2b313a;
    border: 0px;
    text-align: center;
}

.projects .card-img {
    transition: ease-out 0.25s;
    opacity: 1;
}

.projects .card-img:hover {
    opacity: 0.5;
}



.projects .card-text {
    margin-top: 10px;
    font-size: 0.95rem;
}

.projects .card a {
    color: #00adb5;
    font-size: 1.2rem;
}

  