.projects-set {
    margin-top: 2rem;
}

.projects-set > div {
    margin-bottom: 2.25rem;
}

.projects-set .card {
    background-color: var(--primary-light-color);
    border: 0px;
    text-align: center;
}

/* centering fluid image  */
.card-img .gatsby-image-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-img {
    opacity: 1;
    transition: ease-out 0.25s;
}

.card-img:hover {
    opacity: 0.7;
}

.projects-set .card-text {
    font-size: 1rem;
}

.projects-set .card h5 {
    color: var(--secondary-color);
}

.projects-set .card-body {
    padding: 1rem;
}

.projects-set .tech small {
    background-color: var(--primary-dark-color);
    margin-right: 5px;
    padding: 5px;
}
