.skill {
  margin-bottom: 2.25rem;
}

.skill h5 {
  color: #f8f8f8;
}

.progress {
  height: 25px;
  background-color: #f8f8f8;
}

.progress-bar {
  background-color: #00adb5;
}

.progress-bar span {
  margin-right: 10px;
  color: #f8f8f8;
  font-weight: 200;
  text-align: end;
}
