.skill-set {
  margin-top: 2rem;
}

.skill {
  margin-bottom: 2.25rem;
}

.skill h5 {
  color: #f8f8f8;
}

.progress {
  height: 20px;
  background-color: #f8f8f8;
}

.progress-bar {
  background-color: #12947f;
}

.progress-bar span {
  margin-right: 5px;
  font-size: 15px;
  color: #f8f8f8;
  font-weight: 500;
  text-align: end;  

}


