.skill-title {
	margin-top: 2.75rem;
}

.skill-set {
	margin-top: 2rem;
}


.progress {
	height: 35px;
}

.progress-bar {
	background-color: #00adb5;

	font-size: 1.275rem;
	color: #f8f8f8;
	font-weight: 500;
}

